.about-container {
    /* padding-top: 100px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* removes extra margin from top of column */
.column-text h1:first-of-type {
    margin-top: 0;
}

.column-image {
    padding-left: 18%;
}

/* use single-column layout for small screens */
@media screen and (max-width:768px) {
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .column-text {
        padding: 0px;
        padding-bottom: 60px;
    }

    .column-image {
        padding: 5%;
    }
}

.social-icons {
    float: right;
}

.social-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-right: 18px;
    margin-left: 4px;
    transition-duration: 0.2s;
}

#linkedin-icon {
    background-image: url(../images/about/linkedin-icon-grey.png);
}
#linkedin-icon:hover {
    background-image: url(../images/about/linkedin-icon-color.png);
}

#github-icon {
    background-image: url(../images/about/github-icon-grey.png);
}
#github-icon:hover {
    background-image: url(../images/about/github-icon-color.png);
}

#instagram-icon {
    background-image: url(../images/about/instagram-icon-grey.png);
}
#instagram-icon:hover {
    background-image: url(../images/about/instagram-icon-color.png);
}

/* image pre-loading trick -- prevents delay to show color version on hover */
body:after{
    display:none;
    content: url(../images/about/linkedin-icon-color.png) url(../images/about/github-icon-color.png) url(../images/about/instagram-icon-color.png);
   }