.page-container {
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    color: #333;
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 100px;
}

.article-container {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
}

.article-container .title {
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer {
    padding-top: 70px;
}

img {
    width: 100%;
}

video {
    width: 100%;
}