.page-container {
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    color: #333;
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}

.footer {
    padding-top: 70px;
}

img {
    width: 100%;
}

video {
    width: 100%;
}