:root {
  --desktop-max-width: 1480px;
  --full-content-width: min(var(--desktop-max-width), 95%);
  --safe-content-width: calc(var(--full-content-width) * 0.8);
  --safe-content-margin: calc(
    (var(--full-content-width) - var(--safe-content-width)) / 2
  );

  --default-border-radius: 4px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
